# Build artifacts
sdn
sdn_terminal

# Object files
*.o

# Dependency files
*.d

# Desktop files
sdn.desktop

# Editor/project files
.vscode/
*.swp
*~

# History and local alias files
.sdn_history
.sdn_local_aliases

# Other
*.log